body {
  padding-top: 70px;
  padding-bottom: 30px;
}
#sitemaPanteones{
  background: none;
}
#flashMessage{
  animation-duration:5s;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}
.error-mesaje{
	color:red;
}
.activo{
	color:orange;
}
.oculto{
	display: none;
}
.oculto2{
  display: none;
}

h1, h2, h3, h4 {
  font-weight: normal;
  margin-bottom:0.5em;
}
h1 {
  background:#fff;
  color: #003d4c;
  font-size: 100%;
}
h2 {
  background:#fff;
  color: #e32;
  font-family:'Gill Sans','lucida grande', helvetica, arial, sans-serif;
  font-size: 190%;
}
/** Scaffold View **/
dl {
  line-height: 2em;
  margin: 0em 0em;
  width: 100%;
  background: #f4f4f4;
}

dt {
  font-weight: bold;
  padding-left: 4px;
  vertical-align: top;
  width: 10em;
}
dd {
  margin-left: 10em;
  margin-top: -2em;
  vertical-align: top;
  display: inline;
}
#content{
  background: #fff;
  clear: both;
  color: #333;
  padding: 10px 60px 40px 60px;
  overflow: auto;
}
/*personalizacion de carousel*/
.carousel {
  height: 500px;
  margin-bottom: 60px;
  border-radius: 4em;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
  border-radius: 4em;
}
#img-carousel
{
  height: 100%;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
  border-radius: 4em;
}
.right.carousel-control {
  border-top-right-radius: 3em;
  border-bottom-right-radius: 3em;
 }
 .left.carousel-control {
  border-top-left-radius: 3em;
  border-bottom-left-radius: 3em;
 }
 .carousel-caption h1 {
  background: none;
}
/*fin personalizacion de carousel*/

.justified
{
  text-align: justify;
}
.col-md-6.well.dr2 {
  border-radius: 2em;
}
.dr2
{
  border-radius: 2em;
}
.messageCssSession
{
   -vendor-animation-duration: 3s;
  -vendor-animation-delay: 2s;
  -vendor-animation-iteration-count: infinite;
}